body 
  background-color #f9f9f9
  
.boardMinWidth 
  position relative
  min-width 500px
  max-width 750px
  margin-left auto

.square_0 
  background-color #f4f4e8

.letters, .numbers
  font 100 100px/1.2 'Merienda One', Helvetica, sans-serif;

.blue-schema .square_1 
  background-color #4d6d92

.red-schema .square_1 
  background-color #cc4748

.orange-schema .square_1 
  background-color #ff4629


.green-schema .square_1 
  background-color #69924d

.grey-schema .square_1 
  background-color grey

.underline_0 
  background-color #adff5c

.underline-bad-0 
  background-color #d24242

.orange-schema .square_start 
  background-color #6495ed

.orange-schema .square_end 
  background-color #36f

.orange-schema .underline_1 
  background-color #00a300

.orange-schema .underline-bad-1 
  background-color FireBrick

.orange-schema .underline-good-1 
  background-color #00a300

.orange-schema .squareTo_1 
  background-color #4e9a06

.orange-schema .squareTo_0 
  background-color #8ae234

.blue-schema .square_start 
  background-color #6495ed

.blue-schema .square_end 
  background-color #36f

.blue-schema .underline_1 
  background-color #00a300

.blue-schema .underline-bad-1 
  background-color FireBrick

.blue-schema .underline-good-1 
  background-color #00a300

.blue-schema .squareTo_1 
  background-color #4e9a06

.blue-schema .squareTo_0 
  background-color #8ae234

.grey-schema .square_start 
  background-color #6495ed

.grey-schema .square_end 
  background-color #36f

.grey-schema .underline_1 
  background-color #00a300

.grey-schema .underline-bad-1 
  background-color FireBrick

.grey-schema .underline-good-1 
  background-color #00a300

.grey-schema .squareTo_1 
  background-color #4e9a06

.grey-schema .squareTo_0 
  background-color #8ae234

.green-schema .square_start 
  background-color #6495ed

.green-schema .square_end 
  background-color #36f

.green-schema .underline_1 
  background-color #00a300

.green-schema .underline-bad-1 
  background-color FireBrick

.green-schema .underline-good-1 
  background-color #00a300

.green-schema .squareTo_1 
  background-color #4e9a06

.green-schema .squareTo_0 
  background-color #8ae234

.red-schema .square_start 
  background-color #6495ed

.red-schema .square_end 
  background-color #36f

.red-schema .underline_1 
  background-color #00a300

.red-schema .underline-bad-1 
  background-color FireBrick

.red-schema .underline-good-1 
  background-color #00a300

.red-schema .squareTo_1 
  background-color #4e9a06

.red-schema .squareTo_0 
  background-color #8ae234

.underline-good-0 
  background-color #adff5c




.b_p_piece
  background url("../img/b_p.svg");

.b_r_piece
  background url("../img/b_r.svg");

.b_b_piece
  background url("../img/b_b.svg");

.b_n_piece
  background url("../img/b_n.svg");

.b_k_piece
  background url("../img/b_k.svg");

.b_q_piece
  background url("../img/b_q.svg");

.w_p_piece
  background url("../img/w_p.svg");

.w_r_piece
  background url("../img/w_r.svg");

.w_b_piece
  background url("../img/w_b.svg");

.w_n_piece
  background url("../img/w_n.svg");

.w_k_piece
  background url("../img/w_k.svg");

.w_q_piece
  background url("../img/w_q.svg");

.piece
  background-size contain;
  background-position left top;










#pgn-container, #comments-container
  width 400px
  height 300px
  background-color white
  margin-top 50px
  padding 20px
  box-shadow 0px 0px 2px #000
  margin-right auto

#move_0
  margin-right 5px

.moveSpan 
  color inherit
  text-align center
  font-size 16px
  font-family 'pgn4web ChessSansAlpha', 'pgn4web Liberation Sans', sans-serif
  padding 1px 3px
  cursor pointer

.moveSpanhover 
  color #214478

.moveNumber 
  color inherit
  text-align center
  font-size 16px
  font-family 'pgn4web ChessSansAlpha', 'pgn4web Liberation Sans', sans-serif
  padding 1px

.opacity 
  opacity 0.2

#boardDiv 
  box-shadow 0px 0px 5px #000

.active-move
  background-color rgb(126, 172, 221)
  border-radius 4px
